.DS_Store
.build/
/Packages
xcuserdata/
DerivedData/
.swiftpm
arm/iOS/Fugu14App/Fugu14App/jailbreakd
arm/iOS/Fugu14App/build/
tools/Fugu14_Pwn.ipa
tools/Fugu14_Setup.ipa
iPhone13,2,iPhone13,3_14.5.1_18E212_Restore.ipsw.zip
